body,
html {
	/*background-color: #1a1a1a;
	background-image: */
	width: 100vw;
	height: 100vh;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20pt;
	color: white;
	background-position: center;
	background: url(../Imagenes/background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Grid areas and text formatting */

.logo{
	grid-area: "logo";
}

.somos {
	grid-area: "somos";
}

.somos > h1 {
	line-height: 1;
	font-weight: 700;
}

.comunicate {
	grid-area: "comunicate";
}

.comunicate > h3 {
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: .05em;
}

.redes {
	grid-area: "redes";
}

.botonFacebook {
	grid-area: "botonFacebook"
}

.botonInstagram {
	grid-area: "botonInstagram";
}

	/* Botones */

.botones {
	grid-area: "botones";
	justify-content: center;
	width: 100vw;
}

.btn {
	border-radius: 30px;
	justify-content: center;
	border-color: #8cc63f;
	border-width: 1.5px;
	color: #8cc63f;
	font-size: .2em;
}

.btn:hover {
	background-color: #8cc63f;
	color: black;
	border-color: #8cc63f;
}

/*
a.boton {
	text-transform: uppercase;
	color: white;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-align: center;
	justify-content: center;
	line-height: 1.2;
}

a.boton:hover {
	color: black;
	text-decoration: none;
	font-weight: 600;
}*/

.botonCatalogo {
	grid-area: "botonCatalogo";
}

.botonGuia {
	grid-area: "botonGuia";
}

.botonWpp {
	grid-area: "botonWpp";
}


/*------  MOBILES  -------*/



.cuerpo {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 15vh .6fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.logo {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	max-width: 45vw;
	padding: 10px 10px;
}

.redes {
	align-items: center;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: grid;
	grid-template-areas: "botonFacebook botonInstagram";
	justify-content:center;
}

a img {
	max-height: 10vw;
	max-width: 10vw;
}

.botonFacebook {
	padding-right: 5px;
}

.somos {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.somos > h1 {
	margin-top: 50px;
	padding-top: 25px;
	font-size: 1.55em;
	text-align: center;
}

.comunicate {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	text-align: center;
}

.comunicate > h3 {
	font-weight: 600;
	font-size: .9em;
	padding-top: 200px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 15px;
}

/*Botones*/
.boton {
	padding: 5px 0;
}

.botones {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	padding: 50px 40px;
}

.btn {
	width: 80vw;
	padding: 15px 0px;
	font-size: 15px;
}

.botonWpp {
	background-color: #8cc63f;
	color: black;
}

@media only screen and (min-width: 769px){

.botones {
	align-items: center;
	padding-left: 25vw;
}

.btn {
	max-width: 50vw;
}

.logo {
	max-width: 225px;
}

}

@media only screen and (min-width: 1200px){

.botones {
	align-items: center;
	padding-left: 35vw;
}

.btn {
	max-width: 30vw;
}

}
