body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Acme', sans-serif;
  background-position: center;
  background: url(../background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
	margin-top: 15px;
}

h1, h2 {
	color: white;
	font-weight: bold;
}

.instagram {
	color: #C13584;
	border-color: #C13584;
}

.instagram:hover {
	color: white;
	background-color: #C13584;
	border-color: #C13584;

}

.btn {
	border-radius: 2em;
	background-color: black;
	padding: 10px 40px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.linea {
	border-color: white;
	border-width: 2px;
	max-width: 100px;
}

.titulo {
	margin-top: 30px;
}

.buffer {
	height: 1rem;
}
